services:
  - type: web
    name: extract-img-api
    env: python
    plan: free
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
    startCommand: |
      uvicorn extract_img:app --host 0.0.0.0 --port $PORT
